.navbar {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 15px 30px;

    background-color: #111827;

    color: white;
}

.logo {

    color: white;

    text-decoration: none;

    font-size: 24px;

    font-weight: bold;
}

.profile-container {

    position: relative;

    cursor: pointer;
}

.profile-icon {

    font-size: 28px;
}

.profile-dropdown {

    position: absolute;

    top: 40px;

    right: 0;

    background-color: #1f2937;

    padding: 15px;

    border-radius: 10px;

    width: 220px;

    display: none;

    z-index: 100;
}

.profile-container:hover
.profile-dropdown {

    display: block;
}

.profile-link {

    display: inline-block;

    margin-top: 10px;

    color: #60a5fa;

    text-decoration: none;
}